
.my-header
{
  width: 100%;
  min-height: 7vh;
  background-color: #fff;
  box-shadow: 10px 0 10px #999;
  padding: 0 40px;
  position: relative;
  z-index: 100;
}

.App.dark .my-header
{
  background-color: #26302F;
  box-shadow: none;
}
